<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flowerparty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.MypageNoti"
            android:exported="true" />
        <activity
            android:name=".activity.PlantsSearchView"
            android:exported="true" />
        <activity
            android:name=".activity.PlantsSearchActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity android:name=".activity.PlantsChooseActivity" />
        <activity android:name=".activity.ProfileCEmailActivity" />
        <activity android:name=".activity.ProfileCnameActivity" />
        <activity android:name=".activity.PlantsJournalDetailActivity" />
        <activity android:name=".activity.PlantsJournalActivity" />
        <activity android:name=".activity.PlantsControlDetailActivity" />
        <activity android:name=".activity.PlantsControlActivity" />
        <activity android:name=".activity.ProfilePwAccountActivity" />
        <activity android:name=".activity.ProfilePwChangeActivity" />
        <activity android:name=".activity.ProfileSettingActivity" />
        <activity android:name=".activity.MypagePlantsActivity" />
        <activity android:name=".activity.PlantsNicknameActivity" />
        <activity android:name=".activity.homeSettingActivity" />
        <activity android:name=".activity.BlueConnectActivity" />
        <activity android:name=".activity.BlueActivity" />
        <activity android:name=".BluetoothTest" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.LoginFmpActivity" />
        <activity android:name=".activity.LoginFmpEmailActivity" />
        <activity android:name=".activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.JournalDiaryActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>