<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flowerparty">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.CommunityChatActivity"></activity>
        <activity android:name=".activity.PlantsChooseActivity" />
        <activity android:name=".activity.ProfileCEmailActivity" />
        <activity android:name=".activity.ProfileCnameActivity" />
        <activity android:name=".activity.CommunityUserprofileActivity" />
        <activity android:name=".activity.CommunityChatlistActivity" />
        <activity android:name=".activity.PlantsJournalDetailActivity" />
        <activity android:name=".activity.PlantsJournalActivity" />
        <activity android:name=".activity.PlantsControlDetailActivity" />
        <activity android:name=".activity.PlantsControlActivity" />
        <activity android:name=".activity.ProfilePwAccountActivity" />
        <activity android:name=".activity.ProfileSettingActivity" />
        <activity android:name=".activity.MypagePostlikedActivity" />
        <activity android:name=".activity.MypageMycommentsActivity" />
        <activity android:name=".activity.MypageNoteDetailActivity" />
        <activity android:name=".activity.MypageNoteActivity" />
        <activity android:name=".activity.MypagePlantsActivity" />
        <activity android:name=".activity.MypageSettingActivity" />
        <activity android:name=".activity.PlantsNicknameActivity" />
        <activity android:name=".activity.homeSettingActivity" />
        <activity android:name=".activity.BlueConnectActivity" />
        <activity android:name=".activity.BlueActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>